@import url("http://overpass-30e2.kxcdn.com/overpass.css");

body {
    font-family: overpass;
}

.btn {
    outline: none;
    border: 2px solid black;
    border-radius: .4rem;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}
