<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Week 4 | Day 3 - Express + Mongoose </title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/client.js" type="module"></script>
</head>

<body>
    {{> nav_main }}
    {{{ body }}}
</body>

</html>