@import url("http://overpass-30e2.kxcdn.com/overpass.css");

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: overpass;
    min-height: 200vh;
    margin: 0;
}

.box {
    height: 100px;
    width: 100px;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.box.blue {
    background: dodgerblue;
}

.box.red {
    left: 50px;
    top: 50px;
    background: firebrick;
}

.target {
    height: 50px;
    width: 50px;
    border: 2px dashed;
    top: 25px;
    left: 25px;
    position: absolute;
}

#header_main {
    top: 0;
    width: 100%;
    background: rgb(65, 65, 70);
    color: white;
    height: 40px;
    z-index: 10;
    line-height: 40px;
}

main {
    top: 40px;
    position: relative;
    display: flex;
    flex: 1;
}

/* media queries !!!  */
@media (max-width: 475px) {
    main {
        flex-direction: column;
    }
}

#sidebar_main {
    background: darkgoldenrod;
    flex: 1;
}

#sidebar_main nav {
    background: silver;
    width: 40%;
    margin: 0 auto;
}
