<h1 class="title">Home page {{msg}}</h1>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, nesciunt corporis. Blanditiis labore animi unde
    molestiae natus repudiandae doloremque minus?
</p>
<img src="./img/fractal.jpg" alt="nice fractale">

















{{!-- <h1 class="title">{{title}}</h1>
<h2 class="title">Express simple template setup</h2>
<ol>
    <li>$ mkdir express-simple-template</li>
    <li>$ cd ./express-simple-template</li>
    <li>$ npm init -y</li>
    <li>$ npm install --save express hbs</li>
    <li>$ git init</li>
    <li>$ touch .gitignore</li>
    <li>$ touch server.js</li>
    <li>$ mkdir ./views ./views/partials</li>
    <li>$ touch ./views/layout.hbs ./views/home.hbs ./views/students.hbs</li>
    <li>$ touch ./views/partials/nav_main.hbs</li>
    <li>$ mkdir ./public ./public/img ./public/css ./public/js</li>
    <li>$ touch ./public/css/styles.css</li>
    <li>$ touch ./public/js/client.js</li>
    <li>$ code .</li>
</ol>
<hr>
<p>
    Edit .gitignore <br>
    Add this on line 1:<br>
    node_modules/
</p>
<hr>
<p>
    Edit package.json <br>
    Add this to the scripts object : (don't forget the comma !!!)<br>
    "dev": "nodemon ./server.js -e hbs,js"
</p>
<hr>
<p>
    inside the newly created folder, express-simple-template : launch server with :<br>
    <b>$ npm run dev</b>
</p> --}}