<form method="post" action="/create-student" id="form_student">
    <h1>Add a new user to database</h1>
    <label for="firstname">name</label>
    <input id="firstname" type="text" name="firstname" required>
    <label for="lastname">lastname</label>
    <input id="lastname" type="text" name="lastname">
    <label for="email">email</label>
    <input id="email" type="email" name="email">
    <label for="cohort">cohort</label>
    <select id="cohort" name="cohort">
        <option value="134">134</option>
        <option value="135">135</option>
        <option value="136">136</option>
        <option value="137">137</option>
        <option value="138">138</option>
    </select>
    <label for="age">age</label>
    <input id="age" min="1" step="1" max="125" type="number" name="age">
    <button class="btn">create</button>
</form>